# Replace with your environment variables
# Then rename this file to .env

X_USERNAME=
X_PASSWORD=
X_TOTP= # This the code for your Two Factor Authentication Token, not your TOTP

# Database
POCKETBASE_EMAIL=
POCKETBASE_PASSWORD=
POCKETBASE_URL=https://capstone.gari-homelab.party

# Scraper variables
X_RAPIDAPI_KEY=
OLD_BIRD_CONTINUATION_TOKEN=
OLD_BIRD_USERS_CONTINUATION_TOKEN=

# MLOps
MLFLOW_RECORD_ENV_VARS_IN_MODEL_LOGGING=false
MLFLOW_TRACKING_URI=https://mlflow.gari-homelab.party